/* Setting all elements to boarder-box sizing and CSS Reset to appear the same in all browsers */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets bacground color for the web page */

body {
    background-color: #d9dcd6;
}

/* Sets the header style */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the positioning of the h1 elements in the header */

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets color for SEO in Horiseon title */
.seo {
    color: #d9dcd6;
}

/* Sets the style for the navigation menu */

nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets the style for unorderd list items (SEO, ORM, SSM) of the navigation menu */

ul{
    list-style-type: none;
}

/* Sets the style for list topics SEO, ORM, SSM of the navigation menu */

li{
    display: inline-block;
    margin-left: 25px;
}

/* Sets font colors for the navigation menu items */

a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font size for all paragraph text for main articles and aside sections */

p {
    font-size: 16px;
}

/* Sets positioning for h2 elements of the main articles  */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets positioning for h3 elements of the aside sections  */

h3{
    margin-bottom: 10px;
    text-align: center;
}

/* Sets the style for the aestetic section below the header and navigation menu */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); 
    background-size: cover;
    background-position: center;
}

/* Sets the positioning for images(1,3) in the main articles  */

.float-left{
    float: left;
    margin-right: 25px;
}

/* Sets the positioning for images(2) in the main articles  */

.float-right {
    float: right;
    margin-left: 25px;
}

/* Establishes "skip blocks" to main landmarks main articles*/

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

/*Sets positioning for main articles */

main{
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}

/*Sets positioning for main articles content  */

article{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

/*Sets size for main articles images  */

article img{
    max-height: 200px;
}

/* Sets positioning for aside content */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1d658c;
}

/* Sets positioning for aside section content */

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets positioning for aside section images (1-3) */

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets position and style for footer section */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #000000;
    
}

/* Sets size and color for footer section text */

footer h2{
    font-size: 20px;
    color: #000000;

}
